.operator {
    width: 12.3vh;
    height: 10vh;
    border: 0;
    background: #FF9F0B;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    cursor: pointer;
    user-select: none
  }

.operator:active {
    background-color: #BE802D;
}